@{
    ViewBag.Title = "about_us_admin";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}
<header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Welcome to ER JinalShah Coaching Classes</h1>
                   
         </header>  


   <div class="content container">
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-8 col-sm-7">                         
                     
                           <p><img  class="img-responsive" src="~/Images/About_us.jpg" alt="" /></p>
                            <br />
                            <p>E.R. Jinal Shah Coaching Classes has been working towards imparting education in the field of information technology since a long time. The aim of the classes is designed to shape the young aspirants attitude, aptitude and instil confidence in them as they move ahead in the field of technology.</p>
                            
                            <p>By implementing a scalable backend to support the highest level of service delivered in the industry, E.R. Jinal Shah Coaching Classes has created a niche which is unmatched. 
                            </p>
                            <p>Technology is a vast field which constantly needs innovations and it is dynamic. In present situation, it has a large scope of development. We guide the students in such a way that their innovative skills are developed and they can evolve in their own way in this field. With the proper guidance and rigorous practice, backed by a burning desire to excel and preserve repentantly, every student can very well excel in the technological field. </p>
                            <p>This is the attitude that we foster in our students and prepare them to face challenges in the world of information technology. </p>
                        </article><!--//page-content-->
                  
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->




