@{
    ViewBag.Title = "follow_us_admin";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}
<link href="~/css/responsive.css" rel="stylesheet" />

<header class="page-heading clearfix">
                    <h1 class="heading-title pull-left"> Find Us On</h1>
               
</header>  
<br /><br />

<div class="col-md-4 col-sm-6" id="divres1">
 <a href="@Url.Action("Downloadapk","Admin_user")">
        <img class="img-responsive"  src="~/Images/Play-Store.jpg" />
    </a>
</div>

<div class="col-md-4 col-sm-6" id="divres2">
     <a href="https://www.facebook.com/pages/Er-jinal-shah-Coaching-Classes/123651857693940"> 
         <img class="img-responsive" src="~/Images/fb_final.jpg" />
     </a>
 </div>

<div class="col-md-4 col-sm-6" id="divres3">
    <a href="http://apps.microsoft.com/windows/en-in/app/">
         <img class="img-responsive" src="~/Images/store.png" />
    </a>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="col-md-4 col-sm-6" id="divres4">
    <a href="http://www.windowsphone.com/en-us/store/app/">
         <img class="img-responsive" src="~/Images/windows-phone-store-logo.jpg" />
    </a>
</div>

<div class="col-md-4 col-sm-6" id="divres5">
     <a href="#"> <img class="img-responsive" src="~/Images/apple.png" /></a>
</div>



