@model jinalshah_coaching_class.Areas.Admin.Models.our_work_admin

@{
    ViewBag.Title = "add_our_work";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}

@section Scripts{


     @Scripts.Render("bundles/jquery")
    @Scripts.Render("bundles/jqueryval")
}


@using (Html.BeginForm("insert_work", "Admin_our_work", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    

                   <div class="form-group">
								<label for="name">Subject</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" value="C++">
							  </div><!-- /form-group -->
							
    
     <div class="form-group">
								<label for="name">Faculty</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" value="Zankhana">
							  </div>
                            <div class="form-group">
							<label for="sem">Semester</label>
                             <select name="sem" class="form-control input-sm" >
										<option>4th semester</option>
                                        <option>2</option>
										<option>3</option>
										<option>1</option>
                                        <option>5</option>
                                 	    <option>6</option>
                                        <option>7</option>
										<option>8</option>
										<option>9</option>
                                        <option>10</option>
                                     
                             </select>
							
				    		</div>
                              <div class="form-group">
								<label for="name">Exam Level</label>
						       <select name="sem" class="form-control input-sm" >
										<option>Easy</option>
                                        <option>Medium</option>
										<option>Tough</option>
										
                             </select>
							  </div>

                                             <div class="form-group">
								<label for="name">Exam Marks</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" value="30">
							  </div>

                                            <div class="form-group">
								<label for="name">Exam Duration</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" value="30 mins">
							  </div>
                                 <div class="form-group">
                                    <label for="name">Question</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" value="If a class x needs to be derived from a class y,which of the following way is correct to do so?">
                                   
                                </div><!--//form-group-->
                                

                                            <div class="form-group">
                                    <label for="name">Option1</label>
                                     <input type="text" id="txtsub" name="news_title" value="class x : public y"  required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option2</label>
                                     <input type="text" id="txtsub" name="news_title"  value="class y : public x" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option3</label>
                                     <input type="text" id="txtsub" name="news_title" value="class x derives public y" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option4</label>
                                     <input type="text" id="txtsub" name="news_title" value="class y derives public x"  required  class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Correct Answer</label>
                                    <input type="text" id="txtsub" name="news_title" value="class y : public x" required class="form-control input-sm" >
                                </div>
                                <div class="form-group">
                                    <label for="name">Image</label>
                                   <input  type="file" name="fileuploadDemo"  id="fileupld" class="form-control input-sm" />
                                </div><!--//form-group-->
     
                               <hr />
                                  <div class="controls text-center">
                                       <h3><i class="fa fa-upload " style="color:#6091ba">
                                         <input type="submit" value="Save" class="btn btn-theme"  name="Save" />
                                        </i></h3>
                                </div>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#sub").click(function () {
           
            if ($("#fileupld").val() == "") {
                $("#spn").html("Please Add Image");
            }

            return false;
        });
     
});
</script>