@model  IEnumerable<jinalshah_coaching_class.Areas.Admin.Models.material_admin>

@{
    ViewBag.Title = "view_material_admin";
    Layout = "~/Areas/Admin/Views/Shared/_admin1_master.cshtml";
}

<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome-->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <!-- Pace -->
    @*<link href="css/pace.css" rel="stylesheet">*@

    <!-- Datatable -->
    <link href="~/css/jquery.dataTables_themeroller.css" rel="stylesheet">
    
    <!-- Endless -->
    @*<link href="~/css/endless.min.css" rel="stylesheet">*@
    <link href="~/css/endless-skin.css" rel="stylesheet">
 
    <script src="~/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Datatable -->
    <script src='~/js/jquery.dataTables.min.js'></script>

    <!-- Modernizr -->
    <script src='~/js/modernizr.min.js'></script>

    <!-- Pace -->
    @*<script src='~/js/pace.min.js'></script>*@

    <!-- Popup Overlay -->
    <script src='~/js/jquery.popupoverlay.min.js'></script>

    <!-- Slimscroll -->
    <script src='~/js/jquery.slimscroll.min.js'></script>

    <!-- Cookie -->
    <script src='~/js/jquery.cookie.min.js'></script>
    <!-- Endless -->
    <script src="~/js/endless/endless.js"></script>

    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });

            $('#chk-all').click(function () {
                if ($(this).is(':checked')) {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', true);
                        $(this).parent().parent().parent().addClass('selected');
                    });
                }
                else {
                    $('#responsiveTable').find('.chk-row').each(function () {
                        $(this).prop('checked', false);
                        $(this).parent().parent().parent().removeClass('selected');
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        //Select/Deselect all checkboxs in the grid

        $("#allBox").click(function () {
            if ($("#allBox").is(":checked") == true) {
                $(".box").attr("checked", $(this).attr("checked") ? true : true);
            }
            else {
                $(".box").attr("checked", $(this).attr("checked") ? true : false);
            }
        });

    </script>


@using (Html.BeginForm("DeleteAll", "Admin_material", FormMethod.Post))
{
    
     <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i>Add Question</i></h4>
                                        </div>
                                        <div class="panel-body">
    <div class="form-group">
								<label for="name">Subject</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
							  </div><!-- /form-group -->
							
    <div>
    <label for="name">Faculty</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
							  </div>
                            <div class="form-group">
							<label for="sem">Semester</label>
                             <select name="sem" class="form-control input-sm" >
										<option>1st semester</option>
                                        <option>2</option>
										<option>3</option>
										<option>4</option>
                                        <option>5</option>
                                 	    <option>6</option>
                                        <option>7</option>
										<option>8</option>
										<option>9</option>
                                        <option>10</option>
                                     
                             </select>
							
				    		</div>
                              <div class="form-group">
								<label for="name">Exam Level</label>
						       <select name="sem" class="form-control input-sm" >
										<option>Easy</option>
                                        <option>Medium</option>
										<option>Tough</option>
										
                             </select>
							  </div>

                                             <div class="form-group">
								<label for="name">Exam Marks</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
							  </div>

                                            <div class="form-group">
								<label for="name">Exam Duration</label>
						        <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
							  </div>
                                 <div class="form-group">
                                    <label for="name">Question</label>
                                    <textarea id="que_desc" name="news_desc" required placeholder="Post question" class="form-control input-sm" rows="10"></textarea>
                                </div><!--//form-group-->
                                

                                            <div class="form-group">
                                    <label for="name">Option1</label>
                                     <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option2</label>
                                     <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option3</label>
                                     <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Option4</label>
                                     <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
                                </div>

                                            <div class="form-group">
                                    <label for="name">Correct Answer</label>
                                    <input type="text" id="txtsub" name="news_title" required class="form-control input-sm" >
                                </div>
                                <div class="form-group">
                                    <label for="name">Image</label>
                                   <input  type="file" name="fileuploadDemo"  id="fileupld" class="form-control input-sm" />
                                </div><!--//form-group-->
     
                               <hr />
                                  <div class="controls text-center">
                                       <h3><i class="fa fa-upload " style="color:#6091ba">
                                         <input type="submit" value="Post Question" class="btn btn-theme"  name="submit" />
                                        </i></h3>
                                </div>
                                            </div>
         </div>
                                           
}

