@{
    ViewBag.Title = "about_us_visitor";
    Layout = "~/Views/Shared/_master1_visitor.cshtml";
}
<header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">About Bhavya Technologies

                    </h1>
                   
         </header>  

   <div class="content container">
            <div class="page-wrapper">

                <div class="page-content">
                    <div class="row page-row">
                        <article class="welcome col-md-8 col-sm-7">                         
                           
                            <p><img  class="img-responsive" src="~/Images/slide-3.jpg" alt="" /></p>
                            <br />
                            <p>Sollution brings together technologies and a large pool of talent and services around the world-cost-effectively ans seamlessly.</p>
                            
                            <p>
                                Growth with inovation is something which we highlt value.
                            </p>
                            <p>From the very begining,we have charted an impressive growth by delivering highly inovative products and in forging successful relationship with customers worlwide. We are an IT company based in Ahmedabad,India spcializing in providing customized Integrated software and web solutions.</p>
                            <p>The company is promoted and managed by a group of self-motivated IT Professionals with ability to innovate and a strong desire to excel.</p>
                            <p>We are a rapidly growing IT company with extensive experience and designing and developing cutting edge IT solutions for the client representing a broad cross-section of business.</p>
                            <p>With a corporate mission focused on providing software development,support and solution to a quality concious clientele around the world.</p>
                            <p>As a techonology company,it is a people that defines the company,and hence we ensure that the technical skills of our team is constanty kept up-to-date with the demand and opportunities of the times.</p>
                        </article><!--//page-content-->
                  
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->



